<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite">
  <listeners>
      <listener class-name="extentReport.Listener"></listener>
  </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/F8877958/Documents/Projects/SeleniumJavaFramework_AutomateWebAdvanceForm/AtomateWebAdvanceForm_Assessment">
        <classes>
            <class name="tests.NdosiTest">
                <methods>
                    <include name="loginPageTest"/>
                    <include name="loginLandingPageTest"/>
                    <include name="webAutomationAdvancedTest"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>